body {
    overflow-x: hidden;
    overflow-y: hidden;
}
.row{
    width: 100%;
    margin: 0!important;
    height: 100vh;
}
.column {
    float: left;
}

.menu {
    width: 25%;
    background-color: black;
    overflow-y: auto;
    display: flex;
    align-items: center;
}

.character {
    width: 75%;
}


#toppanel{
    width: 100%;
    position: relative;
}
#search-form{
    width: 75%;
    color: rgba(72, 170, 170, 0.67);
    margin-left: auto;
    margin-right: auto;
    font-size: 15pt;
    height: auto;
}
.form-group label{
    font-size: 10pt;
}
.input-group-sm{
    margin-bottom: 10px;
}

.main-question{
    font-size: 18pt;
    margin-bottom: 20px;
}

.main-proposal{
    font-size: 10pt;
}
#hair-style{
    width: 16px;
    height: 16px;
}
#character-logo{
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin-top: -5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: right;
    margin-right: 15px;
    position: relative;
}
#information-text{
    margin: 30px;
}
#social-networks{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
}
#social-networks svg{
    width: 42px !important;
    height: 42px !important;
}
#social-networks a{
    margin-bottom: 5px !important;
}
